body {
  background-color: rgb(15, 15, 15);
  color: white;
}

/* Nav Bar    */
.nav-logo-img {
  width: 200px;
}
.nav-avatar-img {
  height: 28px;
}

/* Header  */
.Header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.row-container {
  margin: 20px;
}
.marg_left {
  line-height: 16px;
  margin-left: 12px;
}

.left {
  float: left;
}

.right {
  float: left;
}

.marg_right {
  margin-right: 12px;
}
.banner {
  background-image: url("https://2.bp.blogspot.com/--J7ZhSJonRY/VS9Zh2QNQhI/AAAAAAAAnCg/2yFbxOBANLY/s1600/Baahubali.jpg");
  object-fit: contain;
  height: 448px;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner-discription {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}
.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner_fadeBottom {
  height: 16.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

/* all styling copied from Vanilla Netflix project */
nav-link {
  color: rgb(202, 202, 202) !important;
  font-size: small;
}

.active .nav-link {
  color: #fff !important;
  font-weight: 500;
}

.navbar-brand {
  width: 100px;
}

.nav-icons {
  font-size: 18px;
  margin-top: 5px;
}

.navbar-toggler {
  border-color: white;
  /* color: white !important; */
  background-color: rgb(248, 248, 248);
}

.avatar-btn {
  background-color: transparent;
  border: none;
  margin-left: 7px;
}

.small-avatar-img {
  height: 28px;
}

.dropdown-menu-dark {
  background-color: rgb(82, 82, 82);
}

.dropdown-menu-dark a {
  color: rgb(192, 192, 192);
}

.avatar-dropdown {
  margin-left: -93px;
  margin-top: 5px;
}

.genre-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgb(157, 157, 157);
  width: 100px;
  position: relative;
  top: 4px;
  border-radius: 2px;
}

.list-view {
  display: flex;
  align-items: center;
}
.list-view i {
  border: 1px solid rgb(179, 179, 179);
  padding: 2px 10px;
}

.movie-cover {
  transition: 0.4s ease-in-out;
  cursor: pointer;

  object-fit: contain;

  opacity: 0.6;
}
.movie-cover:hover {
  transform: scale(1.04);
  transition: 0.4s ease-in-out;
  opacity: 1;
}

.footer-icons {
  color: #7f7f7f !important;
  font-size: 25px;
}

#footer {
  margin-top: 100px;
}

#footer ul {
  padding: 0;
}
#footer ul li {
  color: #7f7f7f;
  font-size: small;
  list-style: none;
  margin-top: 12px;
}

.copyright {
  font-size: small;
  text-align: center;
}

.footer-btn {
  border: 1px solid #7f7f7f;
  background-color: transparent;
  color: #7f7f7f;
  font-size: small;
  padding: 8px;
  margin: 10px 0;
}

#settings {
  color: #7f7f7f;
}
/* footer */
h2,
h4,
footer {
  color: #f5f5f1;
}

.icons {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  color: #f5f5f1;
}

.navbar-nav {
  font-size: 0.9em;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.footer-icon {
  font-size: 1.3em;
  margin-left: 1%;
  margin-right: 1%;
  color: #838383;
}

.footer-links {
  text-align: left;
  font-size: 0.8em;
}

.footer-links p {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #838383;
}

.footer-links a {
  color: #838383;
}

.footer-button {
  color: #838383 !important;
  border-color: #838383 !important;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}

.spinner-container {
  width: 10%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
